* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #EDEEF3;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(254, 200, 7, 1);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    text-decoration: none;
  }
  
  #myBtn:hover {
    background-color: #EBD1A2;
  }

  .video {
    margin: auto;
    padding-left: 30px;
    padding-top: 60px;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
  }

  video {
    padding-bottom: 20px;
    padding-left: 20px;
    height: 40%;
    width: 40%;
  }

  .ani {
    
  }

h1{
  font-size: 52px;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

p{
  font-size: 23px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.yay {
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

  @media only screen and (max-width: 600px) {
    .logo {
        padding-left: 10px;
        padding-right: 10px;
    }
    .navbar ul {
      position: relative;
        flex-direction: column;
    }
    .navbar li {
        text-align: center;
        padding: 10px 0;
    }
    video {
        width: 100%;
        height: auto;
    }
    .video {
      padding-right: 50px;
        width: 100%;
        margin: auto;
    }
    footer p {
        padding-left: 10px;
    }
  }
  
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    .logo {
        padding-left: 50px;
        padding-right: 50px;
    }
    .navbar ul {
      position: relative;
        flex-direction: column;
    }
    .navbar li {
      text-align: center;
        padding: 10px 0;
    }
    video {
        width: 80%;
        height: auto;
    }
    .video {
      padding-left: 100px;
      width: 80%;
      margin: auto;
    }
    footer p {
        padding-left: 100px;
    }
  }
  
  