footer {
  background-color: #999999;  
  color: #0f0730;
  padding-left: 80px;
  padding-right: 80px;
  margin: 0 auto;
}

footer section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  padding-top: 45px;
  padding-bottom: 50px;
}

footer article {
  padding-top: 65px;
}

footer h3 {
  font-size:16px;
  padding-bottom: 10px;
}

footer h2 {
  font-size: 40px;
  padding-bottom: 12px;
}

footer article p {
  font-size: 14px;
  padding-bottom: 7px;
}

.links a{
  text-decoration: none;
  font-size: 14px;
  padding-bottom: 7px;
  color: #0f0730;
}

.links a:hover{
  text-decoration: underline;
  font-weight: bold;
}

.links{
  width: 110px;
}

footer a img{
  width: 30px;
  aspect-ratio: 1/1;
}

footer p{
  font-size: 12px;
  padding-bottom: 25px;
}

.read a {
  font-size: 14px;
  color: #0f0730;
  text-decoration: none;
}

.read a:hover{
  text-decoration: underline;
  font-weight: bold;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  height: 23px;
  margin: 0 auto;
  text-align: center;
}