* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body{
    background-color: #999999;
  }

  nav {
    margin: 0 auto;
  }

  .container-big {
    display: block;
    padding-top: 180px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
    background-image: url(/assets/img/64-1276x454.jpg);
    background-repeat: no-repeat;
    height: 754px;
  }

  .container-big h1 {
    display: block;
    margin: 0 auto;
    padding-bottom: 25px;
    padding-top: 28px;
    font-size: 52px;
    text-align: left;
    width: 1036px;
  }

  .container-big p {
    padding-bottom: 18px;
    display: block;
    margin: 0 auto;
    font-size: 22px;
    text-align: left;
    width: 1036px;
  }

  .content{ 
    background-color: #e2e5ec;
    height: 329px;
    width: 1138px;
    text-align: left;
    margin: 0 auto;
    font-size: 18px;
    border-radius: 15px;
    box-shadow: 0px 10px 30px #525252;
  }

  .container-big a {
    padding: 10px 20px;
    background-color: rgba(254, 200, 7, 1);
    color: black;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    width: 130px;
    margin: 0 auto;
    display: block;
  }

  .container-big a:hover{
    background-color: rgba(254, 200, 7, 0.75);
    box-shadow: 3px 5px 10px #525252;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(254, 200, 7, 1);
    color: #e2e5ec;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    text-decoration: none;
  }
  
  #myBtn:hover {
    background-color: #EBD1A2;
  }