* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
 
  body{
    background-color: #dbdbdb;
    margin: 0;
  }

  .container-big {
    padding-top: 110px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: max-content 754px;
  }

  .container-big img {
    display: block;
    position: relative;
    height: 527px;
    width: 936px;
    top: -40px;
    left: -140px;
  }

  .container-big h1 {
    display: block;
    margin: 0 auto;
    padding-bottom: 25px;
    font-size: 52px;
    text-align: left;
    max-width: 879px;
    width: 100%;
  }

  .container-big p {
    padding-bottom: 18px;
    display: block;
    margin: 0 auto;
    font-size: 22px;
    text-align: left;
    width: 100%;
    max-width: 879px;
  }

  .content{ 
    background-color: #e2e5ec;
    height: auto;
    width: 936px;
    text-align: left;
    margin: 0 auto;
    font-size: 18px;
    position: absolute;
    padding: 15px;
    transform: translate(120px, 230px);
  }

  .container-big a {
    padding: 10px 20px;
    background-color: rgba(254, 200, 7, 1);
    color: black;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    width: 140px;
    margin: 0 auto;
    display: block;
    font-weight: bold;
  }

  .container-big a:hover{
    background-color: rgba(254, 200, 7, 0.75);
    box-shadow: 3px 5px 5px #52525220;
  }

  .scroll{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
  }

  .arrow, .peek{
    color: #000;
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  .peek{
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .welcomst{
    height: auto;
    margin: 0 88px 0 88px;
  }

  .welcomst h2{
    padding: 110px 0 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 44px;
  }

  .info{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }

  .info p{
    font-size: 20px;
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 20px;
  }
 
.img1{
  grid-column: 1/2;
  grid-row: 2/3;
  height: 272px;
}

.img2{
  height: 272px;
  grid-column: 3/4;
  grid-row: 2/3;
}

.vids{
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 2fr 1fr;
  justify-content: center;
  align-items: center;
  height: auto;
}

.center{
  display: grid;
  grid-template-columns: 4fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.left, .right{
  height: 342px;
  padding: 20px;
}

.top, .bottom {
  left: 50%;
  top: 50%;
  transform: translate(25%, 50%);
  display: flex;
  height: auto;
  align-items: center;
}

.top {
  grid-row: 1/2;
  grid-column: 1/2;
}

.bottom {
  grid-row: 2/3;
  grid-column: 1/2;
}

.top h3, .bottom h3 {
  font-size: 32px;
  width: auto;
  padding-bottom: 24px;
}

.top p, .bottom p {
  font-size: 18px;
}

.top .text, .bottom .text2 {
  width: 272px;
}

.photos img{
  width: 272px;
}

.photos{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: auto;
  top: -100px;
}

#kirke{
  filter: grayscale();
  filter: blur(10%);
}

#kirke:hover{
  scale: 115%;
  filter: none;
}

#light{
  filter: grayscale();
  filter: blur(10%);
}

#light:hover{
  scale: 115%;
  filter: none;
}

#sign{
  filter: grayscale();
  filter: blur(10%);
}

#sign:hover{
  scale: 115%;
  filter: none;
}

#flag{
  filter: grayscale();
  filter: blur(10%);
}

#flag:hover{
  scale: 115%;
  filter: none;
}

.more-text{
  max-width: 1188px;
  height: auto;
  padding: 40px;
}

.photos h3{
  font-size: 28px;
}

.content-img{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr ;
  gap: 18px;
}


#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  --mdb-btn-border-color: none;
  border-radius: 50%;
  border: none;
  width: 50px;
  height: 50px;
  display: none;
  background-color: #c6445a;
  box-shadow: 0 4px 9px -4px #d1485f;
  color: #fff;
  font-size: 16px;
  size-adjust: auto;
}

#btn-back-to-top:hover {
  background-color: #d1485f;
  cursor: pointer;
}